<div>
    <h4>Welcome to home page {{user}}</h4>
    <a routerLink="storeReq" class="link-danger">Apply For New Aadhar Card</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    <a routerLink="view" class="link-danger">View My Aadhar Card</a>
    <br/>
    <hr/>
        <router-outlet></router-outlet>
    <hr/>
  
    <br/>
    <input type="button" class="btn btn-warning" value="Apply For Duplicate Card" (click)="applydup()"/>&nbsp;&nbsp;
    <input type="button" class="btn btn-danger" value="Apply For Close Adhar Card" (click)="closeadhar()"/><br>
    <span style="color:green">{{close}}</span><br>
    <span style="color:green">{{msg}}</span><br><br>
    <input type="button" class="btn btn-dark" value="logout" (click)="logout()"/>
</div>
